**.DS_Store
**.pyc

/vim/.vim/bundle
/vim/.vim/.netrwhist
/vim/.vim/backup
/vim/.vim/swap

/emacs/.emacs-manual/custom.el
/emacs/.emacs-manual/anaconda-mode
/emacs/.emacs-manual/auto-save-list
/emacs/.emacs-manual/elpa
/emacs/.emacs-manual/_elpa
/emacs/.emacs-manual/tmp
/emacs/.emacs-manual/config.el
/emacs/.emacs-manual/config.html
/emacs/.emacs-manual/projectile.cache
/emacs/.emacs-manual/projectile-bookmarks.eld
/emacs/.emacs-manual/recentf
/emacs/.emacs-manual/eshell
/emacs/.emacs-manual/transient
/emacs/.emacs-manual/FsAutoComplete/
/emacs/.emacs-manual/straight/
/emacs/.emacs-manual/bookmarks
/emacs/.emacs-manual/emojis/
/emacs/.emacs-manual/elixir-ls/
/emacs/.emacs-manual/url/
/emacs/.emacs-manual/eln-cache/
/emacs/.emacs-manual/omnisharp-roslyn/
/emacs/.emacs-manual/session.*
/emacs/.emacs-manual/undo/
